# .gitignore

# Ignore Python's cache files
__pycache__/
*.pyc

# Ignore environment variables file
.env

# Ignore sensitive credential files
credentials.json
token.json

# Ignore virtual environment folder
venv/
