# requirements.txt

# Core Web Server & Framework
fastapi
uvicorn
python-multipart

# Google API Libraries
google-api-python-client
google-auth-oauthlib
google-auth

# Google Sheets Helper
gspread

# Timezone Handling
pytz

# Environment Variable Loader (for local testing)
python-dotenv

SHEET_NAME=WellnessGroveClinic_Patients
TIME_ZONE=Australia/Sydney
TEST_MOBILE_NUMBER=0414364374
